/bootstrap/cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/.idea
Homestead.json
Homestead.yaml
composer.lock
npm-debug.log
yarn-error.log
.editorconfig
.env
.env.testing
.env.example
.gitattributes
.phpunit.result.cache
.styleci.yml
